ProjectsScreen {
    # background: transparent;
    # background: $background 40%;
    background: $background;


    #title-container {
        padding: 1 1 0 1;
        color: $text-success;
        visibility: hidden;
        & > * {
            visibility: visible;
        }
    }

    .instructions {
        width: auto;
        margin: 1 1;
        color: $text-muted;
        text-style: italic;
    }

    #actions {
        height: auto;
        align-horizontal: center;
        margin: 0 1 1 1;
    }

    #actions Button {
        margin: 0 1;
        &:focus {
            color: $text;
            background-tint: $primary 20%;
        }
    }


    ProjectGridSelect {
        &:empty {
            visibility: hidden;
        }
        width: 1fr;
        margin: 0 1 1 1;
        padding: 1 0 !important;
    }

    ProjectSummary {
        border: blank transparent;
        background: black 10%;
        width: auto;

        margin: 0;
        pointer: pointer;
        height: auto;
        padding: 1 0 1 0;

        Rule {
            margin: 0;
        }

        &.-highlight {
            border: round $primary;
        }

        .icon {
            width: 3;
            text-align: center;
            color: $text-secondary;
        }

        .title {
            width: 1fr;
        }
        .path {
            color: $foreground 70%;
            text-style: italic;
        }
    }

}
